<!DOCTYPE html>
<html>
	<head>
		<title>Example app</title>
		<link rel="stylesheet" type="text/css" href="__res__/bower/bootstrap-css/css/bootstrap.min.css" />
	</head>
	<body>
		<%- reactContent %>
	</body>
	<script src="__res__/client/main.bundle.js"></script>
</html>
